html,
body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background-color: #2b2b2b;
  color: #fefefe;
  height: 100%;
  font-size: 16px;
}

* {
  &::-webkit-scrollbar {
    width: 10px;
    background: rgba(0, 0, 0, 0.2);
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50px;
  }
}

#app {
  height: 100%;
}

a {
  color: #fefefe;
}

.clickable {
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    position: relative;
    opacity: 0.6;
    top: 1px;
  }
}

.shadow {
  box-shadow: 0px 1px 6px 2px #00000055;
}

.block {
  background: rgba(0, 0, 0, 0.4);
  padding: 10px;
  border-radius: 6px;
  box-sizing: border-box;

  .body {
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 10px;
      background: rgba(0, 0, 0, 0.2);
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.5);
      border-radius: 50px;
    }
  }

  .header {
    color: #979797;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 15px;
    text-transform: uppercase;
    user-select: none;
    display: flex;
    align-items: center;

    img,
    svg {
      display: block;
      margin-left: auto;
    }
  }
}
